<div class="row text-center">
    <div class="col-md">
    <h1 class="text-info">Does Not Exist</h1>
    <hr/>
    <a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">Back to Home Page</a>
    </div>
</div>